/* flexbox */
.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-jc-center {
    justify-content: center;
}

.f-jc-space-around {
    justify-content: space-around;
}

.f-jc-space-between {
    justify-content: space-between;
}

.f-jc-space-evenly {
    justify-content: space-evenly;
}

.f-ai-strech {
    align-items: stretch;
}

.f-ai-center {
    align-items: center;
}

.f-as-stretch {
    align-self: stretch;
}

.f-as-center {
    align-self: center;
}


/* text */
.size-1 {
    font-size: 3rem;
}

.size-2 {
    font-size: 2.5rem;
}

.size-3 {
    font-size: 2rem;
}

.size-4 {
    font-size: 1.5rem;
}

.size-5 {
    font-size: 1.25rem;
}

.size-6 {
    font-size: 1rem;
}

.size-7 {
    font-size: 0.7rem;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: reght;
}


/* margins */
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.m-5 {
    margin: 1.5rem;
}

.m-6 {
    margin: 3rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mr-5 {
    margin-right: 1.5rem;
}

.mr-6 {
    margin-right: 3rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-5 {
    margin-left: 1.5rem;
}

.ml-6 {
    margin-left: 3rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.5rem;
}

.mt-6 {
    margin-top: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.5rem;
}

.mb-6 {
    margin-bottom: 3rem;
}

.mx-0 {
    margin-right: 0;
    margin-left: 0;
}

.mx-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.mx-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.mx-3 {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.mx-4 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mx-5 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.mx-6 {
    margin-right: 3rem;
    margin-left: 3rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}